// Variables
$vczapi-bg-white: #ffffff;
$vczapi-border-color: #c3c4c7;
$vczapi-bg-light: #f0f0f1;
$vczapi-bg-header: #f6f7f7;
$vczapi-text-color: #1d2327;
$vczapi-error-text-color: #f00;
$vczapi-icon-color: #50575e;
$vczapi-radius: 4px;
$vczapi-transition-speed: 0.3s;

// Table Variables
$dt-primary-color: #2271b1 !default;
$dt-primary-hover: #135e96 !default;
$dt-border-color: #dcdcde !default;
$dt-bg-header: #f6f7f7 !default;
$dt-bg-hover: #f0f6fc !default;
$dt-text-main: #2c3338 !default;
$dt-text-muted: #646970 !default;
$dt-radius: 4px !default;