// Variables
$vczapi-bg-white: #ffffff;
$vczapi-border-color: #c3c4c7;
$vczapi-bg-light: #f0f0f1;
$vczapi-bg-header: #f6f7f7;
$vczapi-text-color: #1d2327;
$vczapi-icon-color: #50575e;
$vczapi-radius: 4px;
$vczapi-transition-speed: 0.3s;