.vczapi-blocks-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  //intende to create gaps between for fields - keep separate from other class modifiers
  &--group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1.5em;
  }

  .radio-inline, .toggle-inline {
    width: 100%;

    .components-base-control__field {
      display: flex;
      align-content: center;
      width: 100%;

      .components-base-control__label {
        flex: 1 1 auto;
      }

      label {
        margin-right: 10px;
      }
    }
  }

  .toggle-inline {
    display: flex;

    &--full {
      width: 100%;

      .components-base-control__field {
        display: flex;
        width: 100%;
        flex-direction: row-reverse;

        label {
          flex: 1 1 auto;
        }
      }
    }
  }


  .range-control {
    width: 100%;
  }

  .text-input {
    width: 100%;

    .components-base-control__field,
    .components-base-control__label,
    .components-base-control__input {
      width: 100%;
    }
  }

  &--input-label {
    width: 100%;
  }

  &--select {
    flex: 1 1 auto;
    margin: 0 8px 0 0;
  }

  &--selected-meeting {
    width: 100%;
    margin-bottom: 2em;
    border-bottom: 1px solid;
  }

  .vczapi-blocks-pagination {
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 20px;

    button {
      &.selected {
        background: var(--wp-admin-theme-color);
        color: #fff;
      }
    }
  }
}

