.vczapi-blocks-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  .radio-inline{
    .components-base-control__field{
      display: flex;
      align-content: center;
      label{
        margin-right:10px;
      }
    }
  }
  
  &--input-label{
    width: 100%;
  }

  &--group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3em;
  }

  &--select {
    flex: 1 1 auto;
    margin: 0 8px 0 0;
  }

  &--selected-meeting {
    width: 100%;
    margin-bottom: 2em;
    border-bottom: 1px solid;
  }

  .vczapi-blocks-pagination {
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-top: 20px;

    button {
      &.selected {
        background: var(--wp-admin-theme-color);
        color: #fff;
      }
    }
  }
}

