#zvc-cover {
  background: url(../../images/ajax-loader.gif) no-repeat scroll center center #000000;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  opacity: .9;
  top: 0;
}

#zmmtg-root {
  display: none;
}

.join-via-browser-body {
  background: #f2f2f2;
  min-width: 100vw !important;
  width: 100vw !important;

  #vczapi-zoom-browser-meeting {
    z-index: 1;
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;

    .logo {
      text-align: center;
    }

    #vczapi-zoom-browser-meeting--container {
      background: #fff;
      padding: 40px;
      box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
      -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
      -webkit-box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
      -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
      -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);

      @media only screen and (max-width: 767px) {
        margin-inline: 20px;
        padding: 20px;

        .vczapi-zoom-browser-meeting--meeting-form {
          input, button {
            width: 100%;
          }
        }

        .logo {
          img {
            width: 70px;
          }

          h3 {
            font-size: 18px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }

    @media only screen and (min-width: 767px) {
      .container {
        width: 500px;
      }

      .vczapi-zoom-browser-meeting--meeting-form {
        input[type=text],
        input[type=password],
        button[type=submit],
        input[type=email],
        select {
          height: 40px;
        }

        button[type=submit] {
          background-color: #2d8cff;
          width: 100%;
          color: #fff;
        }
      }
    }

    .img-fluid {
      max-width: 100%;
      height: auto;
    }

    h3 {
      line-height: 1.5;
    }

    .mb-4 {
      margin-bottom: 1.5rem;
    }

    p {
      color: #838383;
      font-weight: 300;
    }

    label {
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
}

.vczapi-jvb-countdown-wrapper {
  display: flex;
  flex-direction: column;
  background: #eaeaea;
  padding: 60px 0;

  &-countdown-title {
    text-align: center;
  }

  .dpn-zvc-timer.zoom-join-via-browser-countdown {
    display: flex;
    width: 100%;
    border-spacing: 2px;
    border-collapse: separate;
    justify-content: center;

    .dpn-zvc-meeting-ended {
      background: #3a3a3a;
      padding: 10px 16px;
      border-radius: 2px;

      h3 {
        margin: 0;
        padding: 0;
        color: #fff;
      }
    }

    .dpn-zvc-timer-cell {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 32px;
      background: #3a3a3a;
      color: #fff;
      padding: 20px 5px;
      border-radius: 10px;
      width: 120px;
      margin: 6px;
    }

    .dpn-zvc-timer-cell-number {
      font-size: 1em;
      width: 100%;
      font-weight: 700;
    }

    .dpn-zvc-timer-cell-string {
      font-size: 0.45em;
      width: 100%;
      text-transform: uppercase;
    }
  }
}

.vczapi-jvb-countdown-content {
  padding: 25px 0;
  display: flex;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  flex-wrap: wrap;

  &-image {
    flex: 0 0 30%;

    img {
      border-radius: 10px;
    }
  }

  &-contents {
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }

  &-links {
    margin-top: 10px;
    display: flex;

    .btn {
      padding: 10px 20px;
      color: #fff;
      display: block;
      margin-right: 10px;
      text-align: center;
      border-radius: 10px;
    }

    .btn-join-link {
      background: #a5452d;
    }
  }

  @media only screen and (max-width: 660px) {
    & {
      flex-direction: column;

      .vczapi-jvb-countdown-content-description-topic {
        margin-top: 1em;
      }
    }
  }
}
