#zvc-cover {
  background: url(../../images/ajax-loader.gif) no-repeat scroll center center #000000;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  opacity: .9;
  top: 0;
}

#vczapi-zoom-browser-meeting {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  &--container {
    width: 400px;
  }

  .vczapi-zoom-browser-meeting--meeting-form {
    input[type=text],
    input[type=password],
    button[type=submit],
    input[type=email],
    select {
      height: 40px;
      border-radius: 0;
    }

    button[type=submit] {
      background-color: #2d8cff;
      width: 100%;
      color: #fff;
    }

    .form-group {
      margin-bottom: 10px;
    }
  }

  .vczapi-zoom-browser-meeting--info {
    background: #fff;
    padding: 20px 30px;
    margin-bottom: 10px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }

  @media only screen and (max-width: 767px) {
    .vczapi-zoom-browser-meeting--info {
      width: 300px;
    }

    #vczapi-zoom-browser-meeting--container,
    .vczapi-zoom-browser-meeting--meeting-form input[type=text],
    .vczapi-zoom-browser-meeting--meeting-form button[type=submit] {
      width: 300px;
    }
  }
}

.vczapi-jvb-countdown-wrapper {
  display: flex;
  flex-direction: column;
  background: #eaeaea;
  padding: 60px 0;

  &-countdown-title {
    text-align: center;
  }

  .dpn-zvc-timer.zoom-join-via-browser-countdown {
    display: flex;
    width: 100%;
    border-spacing: 2px;
    border-collapse: separate;
    justify-content: center;

    .dpn-zvc-meeting-ended {
      background: #3a3a3a;
      padding: 10px 16px;
      border-radius: 2px;

      h3 {
        margin: 0;
        padding: 0;
        color: #fff;
      }
    }

    .dpn-zvc-timer-cell {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 32px;
      background: #3a3a3a;
      color: #fff;
      padding: 20px 5px;
      border-radius: 10px;
      width: 120px;
      margin: 6px;
    }

    .dpn-zvc-timer-cell-number {
      font-size: 1em;
      width: 100%;
      font-weight: 700;
    }

    .dpn-zvc-timer-cell-string {
      font-size: 0.45em;
      width: 100%;
      text-transform: uppercase;
    }
  }
}

.vczapi-jvb-countdown-content {
  padding: 25px 0;
  display: flex;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  flex-wrap: wrap;

  &-image {
    flex: 0 0 30%;

    img {
      border-radius: 10px;
    }
  }

  &-contents {
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }

  &-links {
    margin-top:10px;
    display: flex;

    .btn {
      padding: 10px 20px;
      color: #fff;
      display: block;
      margin-right: 10px;
      text-align: center;
      border-radius: 10px;
    }

    .btn-join-link {
      background: #a5452d;
    }
  }

  @media only screen and (max-width: 660px) {
    & {
      flex-direction: column;

      .vczapi-jvb-countdown-content-description-topic {
        margin-top: 1em;
      }
    }
  }
}
