.dpn-zvc-single-content-wrapper {
  margin-top: 40px;

  .deepn-zvc-single-featured-img {
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: auto;
    }
  }

  //For backwards compatiblity
  .dpn-zvc-col-8,
  .dpn-zvc-col-4 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 58px;
  }

  .dpn-zvc-sidebar-wrapper {
    width: 100%;
    clear: both;

    .dpn-zvc-sidebar-box {
      margin-top: 1.5rem;

      &:first-child {
        margin-top: 0;
      }

      .join-links {
        .btn {
          padding: 10px 20px;
          color: #fff;
          border-radius: 0;
          display: block;
          margin-top: 10px;
        }

        .btn-join-link {
          background: #a5452d;
        }

        .btn-start-link {
          background: #1c3b82;
        }
      }
    }

    .dpn-zvc-sidebar-state {
      border: 1px solid #ccc;
      padding: 20px;
      margin-top: 20px;

      p {
        padding: 0;
        margin: 0;
      }
    }

    .dpn-zvc-timer {
      //display: table;
      //width: 100%;
      //table-layout: fixed;
      display: flex;
      width: 100%;

      .dpn-zvc-meeting-ended {
        background: #3a3a3a;
        padding: 10px 16px;
        border-radius: 2px;

        h3 {
          margin: 0;
          padding: 0;
          color: #fff;
          line-height: 1.8;
        }
      }

      .dpn-zvc-timer-cell {
        display: flex;
        text-align: center;
        font-size: 32px;
        background: #3a3a3a;
        color: #fff;
        line-height: normal;
        padding: 20px 5px;
        border-radius: 2px;
        flex-direction: column;
        margin-right: 6px;
        width: 100%;

        &:last-child {
          margin-right: 0;
        }
      }

      .dpn-zvc-timer-cell-number {
        font-size: 1em;
        width: 100%;
      }

      .dpn-zvc-timer-cell-string {
        font-size: 0.45em;
        width: 100%;
        text-transform: uppercase;
      }
    }

    .dpn-zvc-sidebar-tile {
      background: #3a3a3a;
      padding: 0 16px;
      border-radius: 2px;

      h3 {
        color: #fff;
        margin: 0;
        padding: 10px 0;
        font-size: 1.3em;
        font-weight: 500;
      }
    }

    .dpn-zvc-sidebar-content {
      background: #f2f2f2;
      padding: 16px;

      .dpn-zvc-sidebar-content-list {
        margin-bottom: 1rem;

        span {
          display: block;
        }
      }
    }
  }

  //For backwards compatiblity
  @media (min-width: 992px) {
    .dpn-zvc-col-8 {
      width: 66.66666667%;
      float: left;
    }

    .dpn-zvc-col-4 {
      width: 33.33333333%;
      float: left;
    }
  }
}

.vczapi-show-by-postid {
  .dpn-zvc-sidebar-state {
    display: none;
  }

  &-countdown-title {
    text-align: center;
  }

  &-countdown {
    display: flex;
    width: 1200px;
    border-spacing: 2px;
    border-collapse: separate;
    justify-content: center;
    flex-direction: column;
    background: #eaeaea;
    padding: 60px 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    flex-wrap: wrap;
    border-radius: 10px;
  }

  .dpn-zvc-timer {
    display: flex;
    width: 100%;
    border-spacing: 2px;
    border-collapse: separate;
    justify-content: center;
    margin-bottom: 20px;

    .dpn-zvc-meeting-ended {
      background: #3a3a3a;
      padding: 10px 16px;
      border-radius: 2px;

      h3 {
        margin: 0;
        padding: 0;
        color: #fff;
      }
    }

    .dpn-zvc-timer-cell {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 32px;
      background: #3a3a3a;
      color: #fff;
      padding: 20px 5px;
      border-radius: 10px;
      width: 120px;
      margin: 6px;
    }

    .dpn-zvc-timer-cell-number {
      font-size: 1em;
      width: 100%;
      font-weight: 700;
    }

    .dpn-zvc-timer-cell-string {
      font-size: 0.45em;
      width: 100%;
      text-transform: uppercase;
    }
  }

  &-flex {
    display: flex;
    margin-top: 20px;
  }

  &-contents {
    .dpn-zvc-sidebar-box {
      .btn {
        margin-top: 10px;
        padding: 10px 20px;
        color: #fff;
        display: block;
        margin-right: 10px;
        text-align: center;
      }

      .btn-join-link {
        background: #a5452d;
      }
    }

    @media (min-width: 769px) {
      &-image {
        width: 24%;
        margin-right:10px;
      }

      &-sections {
        width: 74%;
        margin-left: 10px;
      }

      .dpn-zvc-sidebar-box {
        .join-links {
          display: flex;
        }
      }

      &-full {
        flex: 100%;

        .vczapi-show-by-postid-contents-sections-description,
        .dpn-zvc-sidebar-box {
          padding-left: 0;
        }
      }
    }
  }

  @media only screen and (max-width: 660px) {
    .dpn-zvc-.vczapi-jvb-countdown-contenttimer.vczapi-show-by-postid-countdown-timer {
      flex-direction: column;
      padding: 0 40px;

      .dpn-zvc-timer-cell {
        width: 100%;
      }
    }
  }

  @media only screen and (max-width: 769px) {
    & {
      padding: 60px 30px;
    }

    .vczapi-show-by-postid-contents {
      flex-direction: column;

      &-sections {
        &-description-topic {
          margin-top: 1em;
        }

        .dpn-zvc-sidebar-box {
          .btn {
            margin-top: 10px;
            margin-right: 0;
          }
        }
      }
    }
  }
}